<footer id="sticky-footer" class="pv-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "JPSwann", "https://github.com/jpswann288", class: "text-white-50 text-decoration-none" %></small>
    </div>
</footer>